<html>
    <head><title>Django/Cheetah Example</title></head>
    <body>
        <center>
            #if $greet
                <strong>Hello World!</strong>
            #else
                <strong>I'm not saying hello to you</strong>
            #end if
        </center>
    </body>
</html>

